@use 'variables' as *;

.testimonials-section{
    margin: 4rem 0;
    text-align: center;
    h2{
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1.2rem;
        color: $grayish-blue;
        margin-bottom: 2rem;
    }

    .testimonials-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        max-width: 350px;
        gap: 2rem;
        .picture{
            width: 60px;
            height: 60px;
            img{
                border-radius: 50% ;
                width: 100%;
                height: 100%;
            }
        }

        p{
            color: $dark-grayish-blue;
            font-size: 1.1rem;
            line-height: 1.5rem;
            font-weight: 600;
        }

        .name{
            font-size: 1rem;
            margin-bottom: .4rem;
        }

        .ocupation{
            font-size: .9rem;
            color: $grayish-blue;
        }
    }
}

@media (min-width:$desktop){
    .testimonials-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        h2{
            margin-bottom: .0;
        }
        .testimonials-container{
            height: 80%;
            
            flex-direction: row;
        }
    }
}
 